@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
// @import 'components/header';
// @import 'components/footer';
// @import 'components/filter-card';
// @import 'components/insights-partners';
// @import 'components/breadcrumbs';
// @import 'index-page';


.header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 20px 0;
  // background-color: rgba(255, 255, 255, 0.898);
  z-index: 100;

  transition: background-color 0.5s, padding 0.5s;

  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__logo {
    margin-right: auto;

    @include r (414) {
      max-width: 90px;
    }
  }

  &__burger {
    display: none;

    @include r(990) {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 50;
      border: 0;
      padding: 0;
      background-color: inherit;
      order: 1;

      span,
      &::before,
      &::after {
        content: "";
        background-color: $blue;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.5s ease 0s;
      }

      span {
        top: 9px;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active {
        &::before {
          transform: rotate(45deg);
          top: 9px;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }

        span {
          transform: scale(0);
        }
      }
    }
  }

  &__button {
    @include r (990) {
      margin-right: 50px;
      padding: 10px 30px;

    }

    @include r (414) {
      margin-right: 25px;
      padding: 5px 10px;
    }
  }
}

.sticky {
  padding: 10px 0;
  background-color: rgba(244, 244, 255, 0.885);
  color: #ffffff;
}

.menu {

  @include r (990) {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 134, 235, 0.652);
    transition: top 0.7s;
    left: 0;
    right: 0;
    z-index: 10;

    &.active {
      top: 0;
      z-index: 99;
    }
  }

  &__items {
    display: flex;
    margin-right: 55px;

    @include r (990) {
      flex-direction: column;
      display: block;
      min-width: 100%;
      text-align: center;
      margin-right: 0;
    }
  }

  &__item {
    color: $darcGray;
    line-height: 2.7;

    @include r (990) {
      color: #ffffff;
    }

    &:not(:last-child) {
      margin-right: 35px;

      @include r (990) {
        margin-right: 0;
      }
    }
  }

  &__link {
    transition: color 0.5s, opacity 0.5s;

    &:hover,
    &:active,
    &:focus {
      color: $pink;
      opacity: 0.8;
    }

    @include r (990) {
      display: block;
      font-size: 22px;
      padding: 5px 0;
    }
  }
}

.header-info {
  background-image: url(../images/content/header/bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 110px 0;
  min-height: 900px;

  @include r (990) {
    min-height: 1000px;
    display: flex;
    align-items: center;
  }

  @include r (768) {
    align-items: flex-start;
  }

  @include r (414) {
    align-items: center;
  }

  &__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include r(990) {
      flex-direction: column;

    }
  }

  &__wrapper {
    padding: 0 0 45px;
    max-width: 530px;

    @include r (768) {
      max-width: 600;
    }

    @include r (414) {
      padding: 0 0 0px;
    }
  }

  &__chose {
    background-color: #e2eaed;
    border-radius: 25px;
    max-width: 365px;
    width: 100%;
    padding: 5px 45px;
    display: flex;
    position: relative;
    margin-bottom: 15px;
    font-size: 18px;
    color: $darcGray;
    z-index: -1;

    span {
      background-color: #feaa25;
      border-radius: 50%;
      display: block;
      width: 40px;
      height: 38px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        background-image: url(../images/content/header/icon.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 18px;
        height: 19px;
      }
    }

    @include r (414) {
      padding: 5px 30px 5px 45px;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 40px;

    @include r (990) {
      font-size: 52px;
    }

    @include r (768) {
      font-size: 40px;
      margin-bottom: 20px;
    }

    @include r (414) {
      font-size: 28px;

    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 45px;

    @include r (414) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  &__btns {
    @include r (414) {
      display: flex;
      flex-direction: column;
    }
  }

  &__btn {

    @include r (414) {
      text-align: center;
    }

    &:first-child {
      margin-right: 25px;

      @include r(414) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &:last-child {
      color: $button;
      transition: opacity 0.5s;

      @include r(414) {
        margin-bottom: 50px;
      }

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
      }
    }
  }

  &__img {
    object-fit: cover;
    max-width: 450px;
    max-height: 820px;

    @include r(990) {
      max-width: 265px;
      transform: rotate(50deg);
    }

    @include r(768) {
      max-width: 220px;
    }

    @include r (414) {
      max-width: 150px;
    }
  }
}

.partners {
  padding: 115px 0 0 0;

  @include r (768) {
    padding: 75px 0 0 0;

  }

  @include r (414) {
    padding: 50px 0 0 0;

  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
    color: $darcGray;
  }


  &__items {}

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__item {
    min-width: 0;
  }

  &__img {
    margin: 0 auto;
  }
}

.apps {
  padding: 215px 0 40px;
  background-repeat: no-repeat;
  background-position: 10% 170px;

  @include r (1200) {
    background-size: 0;
    padding: 115px 0 40px;
  }

  @include r (768) {
    padding: 75px 0 0px;
  }

  @include r (414) {
    padding: 50px 0 0px;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;

    @include r (1200) {
      justify-content: center;
    }
  }

  &__inner {
    max-width: 435px;
    margin-right: 165px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include r (1200) {
      margin-right: 0;
      max-width: 1200px;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include r (768) {
      text-align: center;
      font-size: 30px;
    }

    @include r (414) {
      font-size: 22px;
    }

  }

  &__subtitle {
    margin-bottom: 85px;

    @include r (768) {
      margin-bottom: 125px;
      text-align: center;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-right: 50px;

    @include r (768) {
      align-items: center;
      margin-right: 0;

    }
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 60px;

      @include r (768) {
        text-align: center;
        margin-bottom: 125px;
      }
    }
  }
}

.apps-box {
  position: relative;
  max-width: 265px;

  @include r (1200) {
    max-width: 420px;
  }

  @include r (768) {
    max-width: 385px;
  }

  @include r (414) {
    max-width: 265px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -122px;
    top: 19px;

    @include r (768) {
      left: 150px;
      top: -100px;
    }

    @include r (414) {
      left: 87px;
    }
  }

  &::before {
    border-radius: 50%;
    width: 88px;
    height: 88px;
  }

  &::after {
    background-repeat: no-repeat;
    background-size: cover;
    width: 58px;
    height: 54px;
    left: -107px;
    top: 36px;

    @include r (768) {
      left: 165px;
      top: -85px;
    }

    @include r (414) {
      left: 102px;
    }

  }

  &--pink {
    &:after {
      background-image: url(../images/content/icons/speed.png);
    }

    &::before {
      background-color: $litePink;
    }
  }

  &--blue {
    &:after {
      background-image: url(../images/content/icons/prototyping.png);
      height: 56px;
      top: 29px;

      @include r (768) {
        top: -85px;
      }
    }

    &::before {
      background-color: $liteBlue;
    }
  }

  &--green {
    @include r (768) {
      text-align: center;

    }

    &:after {
      background-image: url(../images/content/icons/vector.png);
      top: 17px;

      @include r (768) {
        top: -85px;
      }
    }

    &::before {
      background-color: $liteGreen;
      top: 3px;

      @include r (768) {
        top: -110px;
      }
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 20px;
    @include poppins(600);
    line-height: 1.1;

    &--pink {
      color: $pink;
    }

    &--blue {
      color: $blue;
    }

    &--green {
      color: $green;
    }

    @include r (414) {
      font-size: 18px;
    }
  }
}

.smart {
  padding: 160px 0 45px;

  @include r(1200) {
    padding: 115px 0 0px;
  }

  @include r(990) {
    padding: 75px 0 0px;
  }

  @include r(414) {
    padding: 50px 0 0px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 230px;

    @include r(990) {
      flex-direction: column;
    }

    @include r(768) {
      margin-bottom: 190px;
    }

    @include r(414) {
      margin-bottom: 160px;
    }

    span {
      width: 1px;
      height: 145px;
      background-color: $default;
      display: block;

      @include r(990) {
        display: none;
      }
    }
  }

  &__title {
    max-width: 430px;
    font-size: 40px;
    text-align: start;
    margin-right: 32px;

    @include r (1200) {
      font-size: 36px;
    }

    @include r (990) {
      text-align: center;
      margin: 0 0 25px 0;
      max-width: 700px;
    }

    @include r (768) {
      font-size: 30px;
    }

    @include r (414) {
      font-size: 22px;
    }
  }

  &__subtitle {
    max-width: 415px;
    margin-right: 110px;

    @include r (1200) {
      margin-right: 0;
    }

    @include r(990) {
      text-align: center;
      max-width: 550px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;

    @include r (990) {
      justify-content: center;
      flex-wrap: wrap;
    }

    @include r(768) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__item {
    &:not(:last-child) {

      @include r(768) {
        margin-bottom: 150px;
      }
    }

    &:first-child {
      @include r(990) {
        margin: 0 160px 100px 0;
      }

      @include r(768) {
        margin: 0 0 150px 0;
      }
    }
  }
}

.apps-box {

  &__smart {
    @include r (990) {
      max-width: 260px;
      text-align: center;
    }

    @include r(768) {
      max-width: 500px;
    }

    @include r(414) {
      max-width: 260px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -5px;
      top: -121px;

      @include r(990) {
        left: 85px;
      }

      @include r(768) {
        left: 205px;
      }

      @include r(768) {
        left: 85px;
      }
    }

    &::before {
      border-radius: 50%;
      width: 88px;
      height: 88px;
    }

    &::after {
      background-repeat: no-repeat;
      background-size: cover;
      width: 58px;
      height: 54px;
      left: 7px;
      top: -102px;
    }

    &--pink {
      &:after {
        background-image: url(../images/content/icons/bill.png);
        left: 15px;

        @include r(990) {
          left: 100px;
        }

        @include r(768) {
          left: 220px;
        }

        @include r(768) {
          left: 100px;
        }
      }

      &::before {
        background-color: $litePink;
      }
    }

    &--blue {
      &:after {
        background-image: url(../images/content/icons/network.png);
        height: 58px;
        left: 10px;
        top: -106px;

        @include r(990) {
          left: 100px;
        }

        @include r(768) {
          left: 220px;
        }

        @include r(768) {
          left: 100px;
        }

      }

      &::before {
        background-color: $liteBlue;
      }
    }

    &--green {
      &:after {
        background-image: url(../images/content/icons/badge.png);
        height: 58px;
        left: 10px;
        top: -105px;

        @include r(990) {
          left: 100px;
        }

        @include r(768) {
          left: 220px;
        }

        @include r(768) {
          left: 100px;
        }
      }

      &::before {
        background-color: $liteGreen;
      }
    }
  }
}

.designed {
  padding: 115px 0 0 0;
  background-repeat: no-repeat;
  background-position: 305px 115px;

  @include r (1680) {
    background-position: 0px 115px;
  }

  @include r(1200) {
    background-size: 0;
  }

  @include r(768) {
    padding: 75px 0 0 0;
  }

  @include r(414) {
    padding: 50px 0 0 0;
  }

  &__inner {
    display: flex;
    justify-content: flex-end;

    @include r(1200) {
      justify-content: center;
    }
  }


  &__wrapper {
    max-width: 410px;
    padding: 135px 0;
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include r(1200) {
      margin-right: 0;
      max-width: 700px;
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include r(1200) {
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 55px;

    @include r(1200) {
      text-align: center;
    }
  }
}

.choose {
  padding: 125px 0;

  @include r(1200) {
    padding: 115px 0;
  }

  @include r(768) {
    padding: 80px 0 0px;
  }

  @include r(414) {
    padding: 60px 0 0px;
  }

  &__title,
  &__subtitle {
    margin: 0 auto;
    max-width: 435px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 635px;
    margin-bottom: 210px;

    @include r(414) {
      margin-bottom: 50px;
    }

  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(2, 115px);
    grid-column-gap: 80px;
    grid-row-gap: 180px;
    justify-content: center;

    @include r(990) {
      grid-template-columns: repeat(2, 270px);
      grid-template-rows: repeat(3, 115px);
    }

    @include r(768) {
      grid-template-columns: repeat(1, 410px);
      grid-template-rows: repeat(3, 115px);
    }

    @include r(414) {
      grid-template-columns: repeat(1, 310px);
      grid-template-rows: repeat(3, 115px);
    }
  }

  &__item {
    text-align: center;
  }
}

.choose-box {
  @include r(414) {
    margin: 0 auto;
  }


  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 88px;
    top: -124px;

    @include r(768) {
      left: 150px;
    }

    @include r(414) {
      left: 88px;
    }

  }

  &::before {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    background-color: $litePink;
  }

  &::after {
    background-repeat: no-repeat;
    background-size: cover;
    left: 103px;
    top: -109px;
    width: 58px;
    height: 54px;

    @include r(768) {
      left: 165px;
    }

    @include r(414) {
      left: 103px;
    }
  }

  &--app {
    &:after {
      background-image: url(../images/content/icons/web-design.png);
      height: 58px;
    }

    &::before {
      background-color: $litePink;
    }
  }

  &--times {
    &:after {
      background-image: url(../images/content/icons/trophy.png);
      left: 107px;
      top: -106px;
      height: 59px;
      width: 51px;

      @include r(768) {
        left: 168px;
      }

      @include r(414) {
        left: 107px;
      }
    }

    &::before {
      background-color: #eaf9ff;
    }
  }

  &--cloud {
    &:after {
      background-image: url(../images/content/icons/computer.png);
      height: 58px;
    }

    &::before {
      background-color: #fff6d3;
    }
  }

  &--custom {
    &:after {
      background-image: url(../images/content/icons/customer-support.png);
      height: 58px;
    }

    &::before {
      background-color: $liteGreen;
    }
  }

  &--ux {
    &:after {
      background-image: url(../images/content/icons/ui.png);
      height: 58px;
    }

    &::before {
      background-color: $liteBlue;
    }
  }

  &--support {
    &:after {
      background-image: url(../images/content/icons/customer-service.png);
      top: -106px;
      height: 56px;
      width: 56px;
    }

    &::before {
      background-color: #eaf9ff;
    }
  }


  &__title {
    color: $darcGray;
  }
}

.features {
  padding: 180px 0 0 0;
  background-repeat: no-repeat;
  background-position: right 175px;

  @include r (1200) {
    padding: 115px 0 0 0;
  }

  @include r (768) {
    padding: 75px 0 0 0;
    background-size: 0;
  }

  @include r (414) {
    padding: 50px 0 0 0;
  }

  &__inner {
    padding: 0 0 0 45px;

    @include r(1680) {
      background-color: rgba(255, 255, 255, 0.912);
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  &__title {
    max-width: 330px;
    margin-bottom: 20px;

    @include r(768) {
      text-align: center;
    }
  }

  &__subtitle {
    max-width: 400px;
    margin-bottom: 180px;

    @include r(768) {
      text-align: center;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(2, 115px);
    grid-column-gap: 100px;
    grid-row-gap: 175px;
    margin-bottom: 65px;

    @include r (768) {
      grid-template-columns: repeat(1, 410px);
      text-align: center;
      grid-row-gap: 120px;
    }

    @include r(414) {
      grid-template-columns: repeat(1, 310px);
    }
  }

  &__item {
    margin: 0 auto;
  }

  &__btn {
    padding: 15px 60px;
  }

}


.apps-box {
  &__features {

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 5px;
      top: -122px;

      @include r(768) {
        left: 150px;
        top: -100px;
      }

      @include r(414) {
        left: 90px;
      }
    }

    &::before {
      border-radius: 50%;
      width: 88px;
      height: 88px;
      background-color: $litePink;
    }

    &::after {
      background-repeat: no-repeat;
      background-size: cover;
      left: 21px;
      top: -109px;
      width: 58px;
      height: 58px;

      @include r(768) {
        left: 165px;
        top: -85px;
      }

      @include r(414) {
        left: 105px;
        top: -85px;
      }
    }

    &--app {
      &:after {
        background-image: url(../images/content/icons/web-design.png);
      }

      &::before {
        background-color: $litePink;
      }
    }

    &--ux {
      &:after {
        background-image: url(../images/content/icons/ui.png);
      }

      &::before {
        background-color: $liteGreen;
      }
    }

    &--cloud {
      &:after {
        background-image: url(../images/content/icons/computer.png);
      }

      &::before {
        background-color: #fff6d3;
      }
    }

    &--support {
      &:after {
        background-image: url(../images/content/icons/customer-service.png);
        top: -106px;
        height: 56px;
        width: 56px;

        @include r(768) {
          top: -85px;
        }
      }

      &::before {
        background-color: $liteBlue;
      }
    }
  }
}

.prices {
  padding: 55px 0 112px 0;

  @include r(1200) {
    padding: 55px 0 0px 0;
  }

  @include r(414) {
    padding: 50px 0 0px 0;
  }

  &__title,
  &__subtitle {
    max-width: 575px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
  }

  &__subtitle {
    max-width: 635px;
    margin-bottom: 75px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }

  &__inner {
    display: flex;
    border: 2px solid #ebebeb;
    border-radius: 50px;
  }

  &__btn {
    color: #ebebeb;
    background-color: transparent;
    padding: 10px 30px;

    &:hover {
      color: #ffffff;
      background-color: $button;
    }

  }

  .mixitup-control-active {
    background-color: $button;
    color: #ffffff;
  }


  &__items {
    display: flex;
    justify-content: center;

    @include r(1200) {
      flex-wrap: wrap;
    }

    @include r(768) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__item {
    height: 550px;
    max-width: 320px;
    border: 2px solid #ebebeb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #999ca5;
    overflow: hidden;
    transition: min-height 0.5s, height 0.5s, opacity 0.5s, transform 0.5s;

    &:hover {
      height: auto;
      height: 100%;
      opacity: 0.8;
      transform: scale(1.02);
    }

    &:not(:last-child) {
      margin-right: 25px;

      @include r(990) {
        margin-bottom: 25px;
      }

      @include r(768) {
        margin-right: 0px;
      }
    }

    &:hover .prices__hide-button {
      opacity: 1;
      transform: translateY(10px);
      padding: 0px 0 35px 0;
    }
  }

  &__wrapper {
    background-color: #f5f8f9;
    display: block;
    padding: 45px 50px 40px;
  }

  &__price {
    span {
      color: $darcGray;
      font-size: 60px;
      @include poppins(600);
    }
  }

  &__lable {
    span {
      display: block;
      font-size: 20px;
      line-height: 1.4;
      color: $darcGray;
      @include poppins(600);
    }
  }

  &__list {
    padding: 30px 50px 25px;
  }

  &__point {
    line-height: 2.8;
  }

  &__button {
    padding: 15px 45px;
    margin-bottom: 20px;
  }

  &__hide-button {
    opacity: 0;
    color: $button;
    transition: color 0.5s, transform 0.5s, padding 0.5s, opacity 0.5s;
    @include poppins(600);

    &:hover,
    &:active,
    &:focus {
      color: #0072ff;
    }
  }
}

.meet {
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 140px 265px;

  @include r(1200) {
    background-position: center center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 195px 0 50px 0;

    @include r (1200) {
      padding: 115px 0 0px 0;
      align-items: center;
    }

    @include r (768) {
      padding: 75px 0 0px 0;
    }

    @include r (414) {
      padding: 50px 0 0px 0;
    }
  }

  &__wrapper {
    max-width: 600px;
    width: 100%;
    padding: 0 0 0 15px;

    @include r(1200) {
      background-color: rgba(255, 255, 255, 0.912);
      border-radius: 25px;
      padding: 15px;
      max-width: 670px;
    }


  }

  &__title {
    max-width: 485px;
    margin-bottom: 35px;
    font-size: 40px;

    @include r (768) {
      font-size: 30px;
    }

    @include r (768) {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    max-width: 490px;
    margin-bottom: 10px;
  }

  &__rate {
    margin-bottom: 20px;
  }

  &__second-title {
    font-size: 20px;
    max-width: 300px;
    margin-bottom: 30px;
  }

  &__second-sub {
    max-width: 570px;
    margin-bottom: 50px;
  }
}

.meet-rate {
  margin-bottom: 15px;

  &__wrapper {
    position: relative;
    font-size: 34px;
    display: inline-block;

    &::before {
      content: "★★★★★";
      display: block;
    }
  }

  &__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  &__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;

    &:checked,
    &:checked~.meet-rate__lable {
      color: #ffcc00;
    }
  }

  &__lable {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #ebebeb;

    &::before {
      content: "★";
      display: block;
      transition: color 0.3s;
    }

    &:hover,
    &:hover~&,
    &:checked~&:hover {
      color: #ffcc00;
    }
  }
}

.meet-slider {
  &__items {
    padding-bottom: 60px;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    @include poppins(600);

    @include r(414) {
      font-size: 16px;
    }

    span {
      color: $darcGray;
    }
  }

  &__img {
    margin-right: 35px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__btns {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 70px;

    @include r (1200) {
      right: 100px;
    }

    @include r (768) {
      right: 50%;
      transform: translateX(50%);
      bottom: 0;
    }

    span {
      margin-right: 10px;
      height: 25px;
      width: 1px;
      background-color: #e7e7e7;
      display: block;
    }
  }

  &__next,
  &__prev {
    border: 2px solid #eff3f8;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    transition: background-color 0.5s;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: inherit;

    &::after {
      content: "";
      background-repeat: no-repeat;
      background-size: cover;
      width: 25px;
      height: 25px;
      position: absolute;
    }

    svg {
      transition: fill 0.5s;
    }

    &:hover,
    &:active,
    &:focus {
      svg {
        fill: $button;
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #eff3f8;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__next {
    &::after {
      // background-image: url(../images/content/icons/next.svg);
      left: 10px;
    }
  }

  &__prev {
    &::after {
      // background-image: url(../images/content/icons/previous.svg);
      left: 8px;
    }
  }
}

.asked {
  padding: 155px 0 0 0;

  @include r(1200) {
    padding: 115px 0 0 0;
  }

  @include r(768) {
    padding: 75px 0 0 0;
  }

  @include r(414) {
    padding: 50px 0 0 0;
  }

  &__title,
  &__subtitle {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
    font-size: 40px;

    @include r(768) {
      font-size: 30px;
    }

    @include r(414) {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }


  &__subtitle {
    margin-bottom: 80px;
    font-size: 16px;

    @include r (414) {
      margin-bottom: 40px;
    }
  }

  &__inner {
    max-width: 945px;
    width: 100%;
    margin: 0 auto;
    // padding: 50px;
    padding: 0 0 115px 0;

    @include r (768) {
      padding: 0 0 50px 0;
    }
  }

  &__item {
    background-color: #f5f7fa;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  &__second-title {
    font-size: 20px;
    position: relative;
    padding: 25px 70px 25px 50px;
    transition: color 0.5s, background-color 0.5s;

    @include r(768) {
      font-size: 18px;
    }

    @include r(414) {
      font-size: 16px;
    }

    &::before,
    &::after {
      content: "";
      width: 20px;
      height: 3px;
      background-color: #bcccdc;
      position: absolute;
      top: 50%;
      transform: translateY(50%);
      transition: 0.5s all;
    }

    &::before {
      transform: rotate(90deg);
      right: 45px;
    }

    &::after {
      transform: rotate(0deg);
      right: 45px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $button;

      &::before,
      &::after {
        background-color: $button;
      }
    }

    &.active {
      color: $button;

      &::before,
      &::after {
        background-color: $button;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }

  &__text {
    display: none;
    padding: 35px 50px;
  }
}

.download {
  padding: 85px 0;
  border-top: 2px solid rgb(229, 230, 229);
  background-repeat: no-repeat;
  background-position: right 1px;

  @include r(768) {
    padding: 75px 0;
  }

  @include r(414) {
    padding: 50px 0;
  }

  &__inner {
    padding-left: 15px;

    @include r(1200) {
      background-color: rgba(255, 255, 255, 0.912);
      padding: 50px 25px;
      border-radius: 50px;
    }
  }

  &__title {
    font-size: 48px;
    margin-bottom: 25px;
    max-width: 640px;

    @include r(768) {
      font-size: 30px;
    }

    @include r(414) {
      font-size: 22px;
    }
  }

  &__subtitle {
    max-width: 640px;
    margin-bottom: 50px;
  }

  &__app {
    display: flex;
  }

  &__google-play {
    margin-right: 35px;

    @include r(414) {
      margin-right: 10px;
    }
  }

  &__google-play,
  &__appstore {
    transition: opacity 0.5s;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
    }
  }
}

.footer {
  padding: 115px 0;
  background-color: #09142e;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 530px;
    margin: 0 auto;
  }

  &__logo {
    margin-right: 0;
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
  }

  &__social {
    margin-bottom: 90px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link {
    svg {
      transition: fill 0.5s;
      fill: #273043;

      &:hover {
        fill: #ffffff;
      }
    }
  }
}

.footer-menu {
  margin-bottom: 50px;

  &__items {
    margin-right: 0;
  }

  &__item {
    color: #ffffff;

  }
}