.choose {
  padding: 75px 0;

  @include r(768) {
    padding: 60px 0 0px;
  }

  @include r(414) {
    padding: 40px 0 0px;
  }

  &__title,
  &__subtitle {
    margin: 0 auto;
    max-width: 435px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 635px;
    margin-bottom: 210px;

    @include r(414) {
      margin-bottom: 150px;
    }

  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(2, 115px);
    grid-column-gap: 80px;
    grid-row-gap: 180px;
    justify-content: center;

    @include r(990) {
      grid-template-columns: repeat(2, 270px);
      grid-template-rows: repeat(3, 115px);
    }

    @include r(768) {
      grid-template-columns: repeat(1, 410px);
      grid-template-rows: repeat(3, 115px);
    }

    @include r(414) {
      grid-template-columns: repeat(1, 310px);
      grid-template-rows: repeat(3, 115px);
    }
  }

  &__item {
    text-align: center;
  }
}

.choose-box {
  @include r(414) {
    margin: 0 auto;
  }


  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 88px;
    top: -124px;

    @include r(768) {
      left: 150px;
    }

    @include r(414) {
      left: 88px;
    }

  }

  &::before {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    background-color: $litePink;
  }

  &::after {
    background-repeat: no-repeat;
    background-size: cover;
    left: 103px;
    top: -109px;
    width: 58px;
    height: 54px;

    @include r(768) {
      left: 165px;
    }

    @include r(414) {
      left: 103px;
    }
  }

  &--app {
    &:after {
      background-image: url(../images/content/icons/web-design.png);
      height: 58px;
    }

    &::before {
      background-color: $litePink;
    }
  }

  &--times {
    &:after {
      background-image: url(../images/content/icons/trophy.png);
      left: 107px;
      top: -106px;
      height: 59px;
      width: 51px;

      @include r(768) {
        left: 168px;
      }

      @include r(414) {
        left: 107px;
      }
    }

    &::before {
      background-color: #eaf9ff;
    }
  }

  &--cloud {
    &:after {
      background-image: url(../images/content/icons/computer.png);
      height: 58px;
    }

    &::before {
      background-color: #fff6d3;
    }
  }

  &--custom {
    &:after {
      background-image: url(../images/content/icons/customer-support.png);
      height: 58px;
    }

    &::before {
      background-color: $liteGreen;
    }
  }

  &--ux {
    &:after {
      background-image: url(../images/content/icons/ui.png);
      height: 58px;
    }

    &::before {
      background-color: $liteBlue;
    }
  }

  &--support {
    &:after {
      background-image: url(../images/content/icons/customer-service.png);
      top: -106px;
      height: 56px;
      width: 56px;
    }

    &::before {
      background-color: #eaf9ff;
    }
  }


  &__title {
    color: $darcGray;
  }
}

.features {
  padding: 180px 0 0 0;
  background-repeat: no-repeat;
  background-position: right 175px;

  @include r (1200) {
    padding: 115px 0 0 0;
  }

  @include r (768) {
    padding: 75px 0 0 0;
    background-size: 0;
  }

  @include r (414) {
    padding: 50px 0 0 0;
  }

  &__inner {
    padding: 0 0 0 45px;

    @include r(1680) {
      background-color: rgba(255, 255, 255, 0.912);
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  &__title {
    max-width: 330px;
    margin-bottom: 20px;

    @include r(768) {
      text-align: center;
    }
  }

  &__subtitle {
    max-width: 400px;
    margin-bottom: 180px;

    @include r(768) {
      text-align: center;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(2, 115px);
    grid-column-gap: 100px;
    grid-row-gap: 175px;
    margin-bottom: 65px;

    @include r (768) {
      grid-template-columns: repeat(1, 410px);
      text-align: center;
      grid-row-gap: 120px;
    }

    @include r(414) {
      grid-template-columns: repeat(1, 310px);
    }
  }

  &__item {
    margin: 0 auto;
  }

  &__btn {
    padding: 15px 60px;
  }

}


.apps-box {
  &__features {

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 5px;
      top: -122px;

      @include r(768) {
        left: 150px;
        top: -100px;
      }

      @include r(414) {
        left: 90px;
      }
    }

    &::before {
      border-radius: 50%;
      width: 88px;
      height: 88px;
      background-color: $litePink;
    }

    &::after {
      background-repeat: no-repeat;
      background-size: cover;
      left: 21px;
      top: -109px;
      width: 58px;
      height: 58px;

      @include r(768) {
        left: 165px;
        top: -85px;
      }

      @include r(414) {
        left: 105px;
        top: -85px;
      }
    }

    &--app {
      &:after {
        background-image: url(../images/content/icons/web-design.png);
      }

      &::before {
        background-color: $litePink;
      }
    }

    &--ux {
      &:after {
        background-image: url(../images/content/icons/ui.png);
      }

      &::before {
        background-color: $liteGreen;
      }
    }

    &--cloud {
      &:after {
        background-image: url(../images/content/icons/computer.png);
      }

      &::before {
        background-color: #fff6d3;
      }
    }

    &--support {
      &:after {
        background-image: url(../images/content/icons/customer-service.png);
        top: -106px;
        height: 56px;
        width: 56px;

        @include r(768) {
          top: -85px;
        }
      }

      &::before {
        background-color: $liteBlue;
      }
    }
  }
}