.smart {
  padding: 160px 0 45px;

  @include r(1200) {
    padding: 115px 0 0px;
  }

  @include r(990) {
    padding: 75px 0 0px;
  }

  @include r(414) {
    padding: 50px 0 0px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 230px;

    @include r(990) {
      flex-direction: column;
    }

    @include r(768) {
      margin-bottom: 190px;
    }

    @include r(414) {
      margin-bottom: 160px;
    }

    span {
      width: 1px;
      height: 145px;
      background-color: $default;
      display: block;

      @include r(990) {
        display: none;
      }
    }
  }

  &__title {
    max-width: 430px;
    font-size: 40px;
    text-align: start;
    margin-right: 32px;

    @include r (1200) {
      font-size: 36px;
    }

    @include r (990) {
      text-align: center;
      margin: 0 0 25px 0;
      max-width: 700px;
    }

    @include r (768) {
      font-size: 30px;
    }

    @include r (414) {
      font-size: 22px;
    }
  }

  &__subtitle {
    max-width: 415px;
    margin-right: 110px;

    @include r (1200) {
      margin-right: 0;
    }

    @include r(990) {
      text-align: center;
      max-width: 550px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;

    @include r (990) {
      justify-content: center;
      flex-wrap: wrap;
    }

    @include r(768) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__item {
    &:not(:last-child) {

      @include r(768) {
        margin-bottom: 150px;
      }
    }

    &:first-child {
      @include r(990) {
        margin: 0 160px 100px 0;
      }

      @include r(768) {
        margin: 0 0 150px 0;
      }
    }
  }
}

.apps-box {

  &__smart {
    @include r (990) {
      max-width: 260px;
      text-align: center;
    }

    @include r(768) {
      max-width: 500px;
    }

    @include r(414) {
      max-width: 260px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -5px;
      top: -121px;

      @include r(990) {
        left: 85px;
      }

      @include r(768) {
        left: 205px;
      }

      @include r(768) {
        left: 85px;
      }
    }

    &::before {
      border-radius: 50%;
      width: 88px;
      height: 88px;
    }

    &::after {
      background-repeat: no-repeat;
      background-size: cover;
      width: 58px;
      height: 54px;
      left: 7px;
      top: -102px;
    }

    &--pink {
      &:after {
        background-image: url(../images/content/icons/bill.png);
        left: 15px;

        @include r(990) {
          left: 100px;
        }

        @include r(768) {
          left: 220px;
        }

        @include r(768) {
          left: 100px;
        }
      }

      &::before {
        background-color: $litePink;
      }
    }

    &--blue {
      &:after {
        background-image: url(../images/content/icons/network.png);
        height: 58px;
        left: 10px;
        top: -106px;

        @include r(990) {
          left: 100px;
        }

        @include r(768) {
          left: 220px;
        }

        @include r(768) {
          left: 100px;
        }

      }

      &::before {
        background-color: $liteBlue;
      }
    }

    &--green {
      &:after {
        background-image: url(../images/content/icons/badge.png);
        height: 58px;
        left: 10px;
        top: -105px;

        @include r(990) {
          left: 100px;
        }

        @include r(768) {
          left: 220px;
        }

        @include r(768) {
          left: 100px;
        }
      }

      &::before {
        background-color: $liteGreen;
      }
    }
  }
}

.designed {
  padding: 115px 0 0 0;
  background-repeat: no-repeat;
  background-position: 305px 115px;

  @include r (1680) {
    background-position: 0px 115px;
  }

  @include r(1200) {
    background-size: 0;
  }

  @include r(768) {
    padding: 75px 0 0 0;
  }

  @include r(414) {
    padding: 50px 0 0 0;
  }

  &__inner {
    display: flex;
    justify-content: flex-end;

    @include r(1200) {
      justify-content: center;
    }
  }


  &__wrapper {
    max-width: 410px;
    padding: 135px 0;
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include r(1200) {
      margin-right: 0;
      max-width: 700px;
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include r(1200) {
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 55px;

    @include r(1200) {
      text-align: center;
    }
  }
}